/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 21, 2014, 6:04:09 PM
    Author     : jawadrashid
*/

#mainDiv {
    border:1px solid;
}

.heading {
    font-weight: bold;
}

.personname {
    font-weight: normal;
}

.DecisionMaker {
    fill: yellowgreen;
}

.Navigator {
    fill: #AFEEEE;
}

.Champion {
    fill: blue;
}

body {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.32, whitesmoke), 
        color-stop(0.66, grey), 
        color-stop(0.83, #787878));
}

.lines {
    stroke-width:1;
    stroke:black;
}